/*@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('./transitions.css');
@import url('./modals.css');
@import url('./notifications.css');
@import url('./inputs.css');
@import url('./product.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    @apply bg-secondary-100 text-secondary-900;
}
html {
    @apply p-6;
}
body {
    box-shadow: #6d6d6d20 0 0 50px 5px;
    height: calc(100vh - 3rem);
    @apply max-w-screen-2xl overflow-y-auto mx-auto py-2 bg-secondary-50 rounded-xl;
}
.page_content {
    height: calc(100vh - 7.5rem);
    scroll-behavior: smooth;
    @apply overflow-y-auto;
}
.page_sectioned_container {
    height: inherit;
    scroll-behavior: smooth;
    overflow: inherit;
    @apply flex;
}
input, textarea {
    @apply placeholder-secondary-900/40 outline-none transition;
}
input:not([type="search"]), textarea {
    @apply py-2 px-4 rounded-lg resize-none;
}
input:disabled, textarea:disabled {
    @apply bg-secondary-200 cursor-not-allowed opacity-50;
}
button:not(.modifier) {
    @apply select-none flex items-center gap-2 bg-contrast-900 text-white rounded-lg px-6 py-2 transition hover:bg-contrast-900/90;
}
button.success {
    @apply bg-lime-600/50 hover:bg-lime-600 hover:text-secondary-100 transition text-lime-700;
}
button.small {
    @apply px-3 py-2 self-center text-sm;
}
button.large {
    @apply px-6 py-3 text-lg;
}
button.flat {
    @apply bg-transparent hover:bg-secondary-900/10;
}
button:disabled:not(.modifier) {
    @apply cursor-not-allowed pointer-events-none bg-contrast-900/80;
}
button.modifier:disabled {
    @apply opacity-20 cursor-not-allowed;
}
button.error {
    @apply bg-red-600/80 hover:bg-red-600 transition duration-300 hover:shadow-lg shadow-red-500;
}
button.error > .iconify {
    @apply text-lg leading-none;
}
button.error:disabled {
    @apply bg-red-500/30 cursor-not-allowed;
}
section {
    @apply p-6 w-full;
}
.app_header {
    @apply sticky top-0 w-full flex gap-4 h-14 items-center px-6 rounded-t-lg border-b border-secondary-100 pb-2;
}
.app_header_search {
    @apply mx-auto w-full bg-secondary-200/50 backdrop-blur md:max-w-[35vw] p-0 h-10 rounded-lg p-2 pl-4 flex items-center gap-2;
}
.app_header_search > button {
    @apply rounded-lg bg-primary-800 hover:bg-primary-900 transition text-white px-4 py-1 -mr-1;
}
.app_header_search > input {
    @apply h-full transition bg-transparent flex-1 outline-none;
}
.avatar {
    box-shadow: #c77b18 0 0 30px -9px;
    @apply hover:bg-accent-600 transition duration-300 w-10 h-10 flex items-center justify-center items-center rounded-full text-secondary-100 cursor-pointer bg-contrast-900;
}
.header-links {
    @apply flex gap-2 mx-6 items-center;
}
.header-links > *:not(.favorites_widget_popup) {
    @apply flex flex-col gap-1 justify-center items-center transition hover:bg-accent-100/50 w-16 rounded-lg py-1;
}
.header-links > * > span.iconify {
    @apply text-xl font-bold;
}
.header-links > * > span:last-child {
    @apply text-xs text-center;
}
.side_menu {
    height: calc(100vh - 7rem);
    @apply border-r border-secondary-100 px-2 w-[320px] overflow-y-auto overflow-x-hidden shrink-0;
}
.categories_section {
    height: calc(100vh - 7rem) !important;
    @apply side_menu;
}
.categories_section .heading, .side_menu .heading {
    @apply py-4 sticky bg-secondary-50 top-0 px-10 -mx-6 font-bold text-secondary-800 text-sm;
}
.heading, label {
    @apply text-secondary-800 text-lg font-semibold mb-2 mt-4;
}
.scrolling_page_container {
    height: calc(100vh - 8.5rem);
    scroll-behavior: smooth;
    @apply overflow-y-auto overflow-x-hidden -mt-6;
}
.page-heading h2, .page-heading h1 {
    @apply text-4xl font-bold pb-4 underline decoration-accent-600;
}
.scrolling_page_container .page-heading.sticky-heading {
    @apply sticky top-0 pt-4 mb-10 -mx-6 px-6 bg-secondary-50/90 backdrop-blur z-[5];
}
section .page-heading.sticky-heading {
    @apply sticky -top-6 -mt-6 pt-6 -mx-6 px-6 bg-secondary-50/90 backdrop-blur z-[5];
}
.confirm_buttons {
    @apply flex justify-end gap-2;
}
.confirm_buttons > * {
    @apply px-5 py-2 rounded-lg transition cursor-pointer hover:bg-secondary-200/50;
}
.confirm_buttons > *.error {
    @apply hover:bg-red-600/60 hover:text-secondary-100;
}
.confirm_buttons > *.success {
    @apply hover:bg-green-700/60 hover:text-secondary-100;
}
.side_menu_list {
    @apply flex flex-col gap-1 mt-4;
}
.side_menu_list > *:not(.parent_item), .side_menu .child_item {
    @apply flex items-center gap-2 text-secondary-800 transition hover:text-contrast-900 hover:bg-secondary-100 px-3 py-2 rounded;
}
.side_menu_list .iconify {
    @apply text-lg;
}
.side_menu_list > .parent_item {
    @apply block px-4;
}
.side_menu_list .active {
    @apply bg-accent-100 pointer-events-none cursor-default;
}
.side_menu .parent_title {
    @apply font-bold text-secondary-600 leading-tight my-2 text-xs;
}
.breadrumbs {
    @apply flex gap-2 items-center text-xs uppercase text-secondary-500 my-2 h-12;
}
.breadrumbs > a {
    @apply hover:text-accent-600 transition flex items-center gap-1;
}
.breadrumbs > div {
    @apply flex items-center gap-1 text-accent-600;
}
.list {
    @apply flex flex-col mt-4 divide-y divide-secondary-100;
}
.list .list_item {
    @apply flex items-center gap-2 transition hover:bg-secondary-200/50 cursor-pointer px-3 py-2 rounded-lg;
}
.list_item .list_icon {
    @apply flex items-center w-12 h-12 text-secondary-100 justify-center text-xl shrink-0 leading-none bg-secondary-800 rounded-full;
}
.list_item .list_icon.light {
    @apply bg-secondary-200 text-secondary-900 text-2xl leading-none;
}
.list_item .list_icon.small {
    @apply w-10 h-10;
}
.list_item .list_icon.large {
    @apply w-16 h-16;
}
.list_item .list_icon > img {
    @apply h-full w-full object-cover;
}
.list_item .list_content {
    @apply flex flex-col gap-1 flex-1;
}
.list_item .list_actions {
    @apply shrink-0 flex items-center gap-2;
}
.list_item .list_actions > *:not(label) {
    @apply flex items-center justify-center text-xl leading-none transition hover:bg-secondary-200 w-10 h-10 rounded-lg text-secondary-800;
}
.list_item .list_actions > *.error {
    @apply hover:bg-red-600/60 hover:text-secondary-100;
}
.image_placeholder {
    @apply relative overflow-hidden flex items-center justify-center rounded-lg shadow bg-secondary-50 cursor-pointer;
}
.image_placeholder .overlay {
    @apply z-[200] absolute inset-0 text-white flex items-center justify-center transition pointer-events-none bg-secondary-800/40 backdrop-blur-sm;
}
.image_placeholder img {
    @apply w-full h-full object-contain;
}
.image_placeholder.small {
    @apply h-36 w-36 shrink-0;
}
.image_placeholder .delete_button {
    @apply absolute top-2 right-2 bg-red-600/80 hover:bg-red-600 text-white transition cursor-pointer rounded-lg w-10 h-10 flex items-center justify-center;
}
.grid_list {
    @apply grid grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-8 p-0.5;
}
.grid_list.wide {
    @apply grid grid-cols-2 lg:grid-cols-3 2xl:grid-cols-5 gap-8 p-0.5;
}
@media screen and (max-width: 511px) {
    .grid_list.popular_items .grid_item:nth-child(n+5) {
        @apply hidden;
    }
}
@media screen and (max-width: 671px) {
    .grid_list.popular_items .grid_item:nth-child(n+7) {
        @apply hidden;
    }
}
@media screen and (min-width: 672px) {
    .grid_list.popular_items .grid_item:nth-child(n+9) {
        @apply hidden;
    }
}
.grid_list .grid_item {
    transition: all .2s cubic-bezier(.25,.8,.25, .5);
    @apply flex flex-col overflow-hidden gap-2 rounded-xl bg-secondary-100/50 p-4 px-6 shadow h-[460px] lg:h-[440px] overflow-x-hidden hover:bg-secondary-200/50 hover:shadow-xl hover:shadow-accent-600/30;
}
.grid_list .grid_item.disabled {
    @apply grayscale pointer-events-none cursor-not-allowed;
}
.grid_list .grid_item.disabled .item_images {
    @apply opacity-50;
}
.grid_list .item_action {
    @apply flex items-center gap-2 flex-1;
}
.grid_list .grid_item:hover .item_action button:not(.active, .success) {
    @apply bg-accent-900 scale-105 shadow-lg shadow-accent-600/30;
}
.grid_list .item_action button {
    @apply flex items-center gap-2 justify-center truncate;
}
.grid_list .grid_item .item_images {
    @apply rounded-xl overflow-hidden rounded-xl overflow-hidden shadow-lg bg-[#fefefe];
}
.grid_item .item_action_custom {
    @apply flex items-center gap-2 justify-center truncate mt-2;
}
.grid_item .item_action_custom button.error {
    @apply bg-red-600/10 text-red-500 rounded-lg truncate hover:bg-red-600/90 hover:text-secondary-100;
}
.grid_item .item_action_custom button.depressed {
    @apply flex items-center gap-2 justify-center truncate mt-2 bg-primary-500/30 text-primary-800 transition hover:bg-red-600/80 hover:text-secondary-100;
}
.grid_item .item_action_custom button.depressed > .iconify {
    @apply text-xl leading-none shrink-0;
}
.grid_list .grid_item:hover .item_images {
    transition: all .2s cubic-bezier(.25,.8,.25, .5) !important;
    @apply scale-[1.02];
}
.grid_list .grid_item .item_images img {
    transition: all .2s cubic-bezier(.25,.8,.25, .5) !important;
    object-fit: contain !important;
    @apply w-full h-full;
}
.grid_list .grid_item:hover .item_images > img {
    @apply scale-[1.05];
}
.grid_list .item_actions {
    @apply md:opacity-0 transition absolute inset-0 z-10 md:bg-primary-300/20 md:backdrop-blur-sm flex justify-end gap-2 p-4;
}
.grid_list .item_actions > *:not(label) {
    @apply flex w-10 h-10 gap-2 transition bg-primary-300 md:bg-transparent md:hover:bg-primary-300 opacity-100 flex items-center justify-center text-primary-900 rounded-lg hover:shadow-lg cursor-pointer;
}
.grid_list .item_actions > *.error {
    @apply bg-red-600/60 md:bg-transparent hover:bg-red-600/60 text-secondary-100 md:text-inherit hover:text-secondary-100;
}
.grid_list .item_actions > *.success {
    @apply bg-lime-600/50 hover:bg-lime-600/60 text-secondary-100 md:text-inherit hover:text-secondary-100;
}
.grid_list .grid_item:hover .item_actions {
    @apply opacity-100;
}
.grid_list .item_images {
    height: 240px !important;
    @apply flex items-center gap-2 shrink-0 overflow-x-auto overflow-y-hidden relative;
}
.grid_list .item_images_placeholder {
    @apply absolute inset-0 overflow-hidden rounded-xl;
}
.grid_list .item_images_placeholder > img {
    @apply scale-[1.5] opacity-20 blur-sm rounded-xl overflow-hidden z-[-1];
}
.grid_list .grid_item .item_images > img {
    @apply w-full h-full rounded-xl object-contain;
}
.grid_list .item_content {
    @apply flex-1 flex flex-col gap-2 items-center;
}
.grid_list .item_content .name {
    @apply line-clamp-2;
}
.grid_list .item_content .price {
    @apply text-lg font-bold;
}
.categories_section_list {
    @apply flex flex-col divide-y divide-secondary-100;
}
.categories_section_list .list_item {
    @apply flex items-center gap-4 rounded-lg transition hover:bg-secondary-200/50 cursor-pointer px-4 py-2;
}
.categories_section_list .list_item.active {
    @apply bg-accent-100/60 pointer-events-none cursor-default;
}
.categories_section_list .item_icon {
    @apply text-2xl leading-none;
}
.categories_section_list .item_name {
}
.categories_section_list .item_description {
    @apply text-xs text-secondary-800;
}
.search_pills {
    @apply flex gap-2 flex-wrap;
}
.search_pill {
    @apply rounded-full bg-secondary-200 hover:bg-accent-300/80 transition pr-3 pl-1 cursor-pointer flex items-center gap-2 py-1;
}
.search_pill .icon, .search_pill .close {
    @apply rounded-full w-6 h-6 flex items-center justify-center overflow-hidden;
}
.search_pill .icon img {
    @apply w-full h-full object-contain;
}
.search_pill .name {
    @apply text-xs;
}
.search_pill.large {
    @apply px-2 py-1.5;
}
.search_pill.large .name {
    @apply text-base;
}
.search_pill.large .icon, .search_pill.large .close {
    @apply w-8 h-8;
}
.search_pill.large .icon {
    @apply bg-secondary-800/80 text-secondary-100;
}
.search_pill .close {
    @apply bg-red-600/10 text-red-500 transition hover:bg-red-600/90 hover:text-secondary-100;
}
.pill {
    @apply flex items-center gap-2 rounded-full bg-secondary-200 py-1 px-1;
}
.pill .icon {
    @apply w-8 h-8 rounded-full flex items-center justify-center overflow-hidden;
}
.pill.small {
    @apply text-sm;
}
.pill.small .icon {
    @apply w-6 h-6;
}
.pill.small .close {
    @apply w-6 h-6;
}
.pill .close {
    @apply leading-none w-8 h-8 text-red-500 hover:text-secondary-100 rounded-full flex items-center justify-center overflow-hidden bg-red-500/10 transition hover:bg-red-500/90 cursor-pointer;
}
.pill .icon img {
    @apply w-full h-full object-contain;
}
.favorites_widget, .basket_widget {
    @apply relative;
}
.favorites_widget.active, .basket_widget.active {
    @apply bg-accent-100/50 pointer-events-none cursor-default;
}
.badge {
    @apply absolute -top-1 -right-1 z-50 text-xs bg-accent-400 px-2 py-0.5 rounded-full;
}
.empty_placeholder {
    @apply flex flex-col items-center flex-1 py-24 gap-8 w-full justify-center;
}
.empty_placeholder .icon {
    @apply text-6xl font-bold text-secondary-200;
}
.empty_placeholder .content {
    @apply text-lg text-secondary-600;
}
.favorites_button {
    @apply flex items-center pl-2 transition duration-300;
}
.favorites_button:not(.large) .favorites_button:not(.active) {
    @apply hover:scale-[1.5];
}
.favorites_button.large {
    @apply text-secondary-700 hover:text-red-600 transition duration-300 leading-none text-3xl;
}
.favorites_button.large.active {
    @apply text-red-600 pointer-events-auto bg-red-300/10;
}
.favorites_button.active {
    text-shadow: #c77b18 0 0 10px 10px;
}
.basket_button {
    @apply flex items-center gap-2;
}
.basket_button.active {
    transform: none !important;
    @apply bg-accent-800/10 text-accent-900 pointer-events-none cursor-default;
}
.basket_button .iconify {
    @apply text-2xl;
}
.cancel-button {
    @apply flex items-center justify-center self-stretch cursor-pointer rounded-lg px-3 text-lg leading-none font-bold transition hover:bg-red-500/10;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type=checkbox] {
        --active: #c77b18;
        --active-inner: #fff;
        --focus: 2px rgba(39, 94, 254, .3);
        --border: #f3e294;
        --border-hover: #c77b18;
        --background: #fff;
        --disabled: #F6F8FF;
        --disabled-inner: #E1E6F9;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 21px;
        width: 21px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
        @apply p-0 m-0;
    }
    input[type=checkbox]:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    input[type=checkbox]:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
        box-shadow: var(--active) 0 0 20px -2px;
    }
    input[type=checkbox]:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
    }
    input[type=checkbox]:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
    }
    input[type=checkbox]:disabled + label {
        cursor: not-allowed;
    }
    input[type=checkbox]:hover:not(:checked):not(:disabled) {
        --bc: var(--border-hover);
    }
    input[type=checkbox]:focus {
        box-shadow: 0 0 0 var(--focus);
    }
    input[type=checkbox]:not(.switch) {
        width: 21px;
    }
    input[type=checkbox]:not(.switch):after {
        opacity: var(--o, 0);
    }
    input[type=checkbox]:not(.switch):checked {
        --o: 1;
    }
    input[type=checkbox] + label {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        margin-left: 4px;
    }

    input[type=checkbox]:not(.switch) {
        border-radius: 7px;
    }
    input[type=checkbox]:not(.switch):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
    }
    input[type=checkbox]:not(.switch):checked {
        --r: 43deg;
    }
}
.basket_list {
    @apply flex flex-col divide-y divide-secondary-100;
}
.basket_list .list_item {
    @apply flex items-center gap-4 p-3 hover:bg-secondary-200/20 rounded-lg;
}
.basket_list .list_item.disabled {
    @apply pointer-events-none cursor-not-allowed opacity-80 grayscale;
}
.basket_list .list_item .item_selector {
    @apply flex items-center justify-center w-6 h-6;
}
.basket_list .list_item .item_image {
    @apply w-12 h-12 flex items-center justify-center shrink-0;
}
.basket_list .list_item .item_content {
    @apply flex flex-col gap-2 flex-1;
}
.basket_list .list_item .item_content .name {}
.basket_list .list_item .item_content .description {
    @apply font-bold;
}
.basket_list .list_item .item_actions input::-webkit-outer-spin-button,
.basket_list .list_item .item_actions input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.basket_list .list_item .item_actions {
    @apply flex items-center gap-4;
}
.basket_list .list_item .item_actions .modifier {
    @apply flex items-center justify-center text-xl leading-none;
}
.basket_list .list_item .item_actions input[type=number] {
    -moz-appearance: textfield;
}
.basket_list .list_item .item_actions input[type="number"] {
    @apply w-[5rem] text-center;
}
.ordering_list {
    @apply flex flex-col divide-y divide-secondary-100;
}
.ordering_list .list_item {
    @apply px-3 py-2 flex items-center gap-2 transition hover:bg-secondary-200/20;
}
.ordering_list .list_item .image {
    @apply w-10 h-10 rounded-lg overflow-hidden flex items-center justify-center shrink-0;
}
.ordering_list .list_item .image img {
    @apply w-full h-full object-contain;
}
.ordering_list .list_item .content {
    @apply flex-1;
}
.ordering_list .list_item .content .name {
    @apply truncate max-w-[200px] text-sm font-bold;
}
.table_list {
    @apply divide-y divide-secondary-200 divide-dashed;
}
.table_list .list_item {
    @apply flex items-center justify-between py-2;
}
.table_list .list_item > div:first-child {
    @apply font-bold text-secondary-800;
}
.table_list .list_item > div:last-child {
    @apply font-bold;
}
.order_button {
    @apply my-4 hover:shadow-xl flex items-center justify-center w-full gap-2 py-3 transition hover:bg-accent-700 bg-accent-600 rounded-lg text-secondary-100;
}
button.order_button:disabled {
    @apply bg-secondary-800/10 cursor-not-allowed text-primary-500;
}
.heading-tabs {
    @apply flex items-center;
}
.heading-tabs .tab_item {
    @apply flex items-center rounded-lg text-primary-500 hover:text-accent-700 justify-center text-2xl transition px-8 py-2 hover:bg-secondary-200/20 cursor-pointer font-bold;
}
.heading-tabs .tab_item.active {
    @apply text-accent-800 pointer-events-none cursor-default;
}
.heading-tabs .tab_item .counter {
    @apply text-base font-normal ml-2;
}
.orders_list {
    @apply flex flex-col gap-4;
}
.orders_list .list_item {
    @apply shadow-lg rounded-xl overflow-hidden;
}
.orders_list .list_item .item_heading {
    @apply flex items-center w-full bg-accent-100/50 border-b border-dashed border-accent-200/50 justify-between py-6 px-10;
}
.orders_list .list_item .item_content {
    @apply flex items-center justify-between py-6 px-10 bg-secondary-100/20;
}
.orders_list .list_item .item_content .products_list {
    @apply flex items-center;
}
.orders_list .list_item .item_content .image {
    @apply w-24 h-24 shrink-0 rounded-lg overflow-hidden flex items-center justify-center;
}
.orders_list .list_item .item_content .image img {
    @apply w-full h-full object-contain;
}
.payment_card:not(.collapsed) {
    @apply px-4 pt-4 rounded-2xl flex flex-col justify-between text-secondary-100 shadow-lg shadow-red-500/20 bg-gradient-to-r from-red-500/50 to-fuchsia-500/50 h-44;
}
.payment_card > div {
    @apply flex items-center justify-between w-full;
}
.payment_card.collapsed {
    @apply px-4 pt-4 bg-primary-200/50 text-primary-800 rounded-2xl;
}
.pagination {
    @apply flex items-center gap-2 w-full justify-center;
}
.pagination_item {
    @apply cursor-pointer transition hover:bg-secondary-200/50 w-10 rounded-lg h-10 flex items-center justify-center shrink-0 bg-secondary-50 border border-secondary-100 ;
}
.pagination_item.active {
    @apply pointer-events-none cursor-not-allowed bg-accent-500/60;
}
.pagination .pagination_arrow {
    @apply h-10 border-secondary-100 border flex items-center justify-center shrink-0 rounded-lg px-4 gap-2 cursor-pointer;
}
.pagination_item.disabled, .pagination_arrow.disabled {
    @apply bg-secondary-200/20 cursor-not-allowed pointer-events-none;
}
.brands_list {
    @apply flex items-center gap-2 flex-nowrap overflow-x-auto py-4;
}
.brands_list .list_item {
    @apply flex items-center gap-2 cursor-pointer bg-secondary-100 py-2 pl-2 rounded-full shadow pr-4 transition hover:bg-secondary-300/20;
}
.brands_list .list_item .item_image {
    @apply w-8 h-8 rounded-full flex items-center justify-center overflow-hidden;
}
.brands_list .list_item .item_image img {
    @apply w-full h-full object-contain;
}
.brands_list .list_item .item_content {

}
.search_results_details {
    @apply text-lg opacity-50 font-bold;
}
.search_grid {
    @apply grid grid-cols-1 lg:grid-cols-2 gap-4;
}
.search_grid .grid_item {
    @apply flex items-center gap-2 cursor-pointer transition hover:bg-secondary-100 px-3 py-2 rounded-xl;
}
.search_grid .grid_item .image {
    @apply w-10 h-10 flex items-center justify-center overflow-hidden;
}
.search_grid .grid_item .image img {
    @apply w-full h-full object-contain;
}
